<br>
<div class="card border-dark">
	<div class="card-header">
		<h1>Add New friend</h1>
	</div>
	<div class="card-body">
		<%= render "form", friend: @nieuw %>
	</div>
</div>
<br>

<%= link_to "Back to friendslist", friends_path, class:"btn btn-dark" %>